@model List<Hospital>

	<h1>Hospitales SQL Server</h1>

	<table>
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Direccion</th>
				<th>Telefono</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (Hospital hospital in Model){
				<tr>
					<td>@hospital.Nombre</td>
					<td>@hospital.Direccion</td>
					<td>@hospital.Telefono</td>
					<td>@Html.ActionLink("Details", "Details", "Hospitales", new { id = @hospital.IdHospital})</td>
				<td>@Html.ActionLink("Edit", "Update", "Hospitales", new { id = @hospital.IdHospital })</td>
				<td>@Html.ActionLink("Delete", "Delete", "Hospitales", new { id = hospital.IdHospital })</td>
				</tr>
			}
		</tbody>
	</table>
